.vir-slider {
    height: 2px;
    background: #E0E0E0;
    position: relative;
    margin-top: 30px;
    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        &-text {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
    }
    .ui-slider-range-min {
        background: #EA3B09;
        height: 4px;
    }
    .ui-slider-handle {
        background: #EA3B09;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        z-index: 2;

        position: absolute;
        top: -.3em;
        top: -7px;
        margin-left: -.6em;
        touch-action: none;
        border: none !important;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {

        }
    }
}