.vir-table {
    margin-top: 72px;
    width: 1200px;
    border-collapse: collapse;

    &__head {
        &-cell {
            text-align: left;
            padding-bottom: 32px;

            &--min {
                width: 339px;
            }

            &-title {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #828282;
            }
            &-text {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #901E65;
            }
        }

    }
    &__body {
        &-cell {
            text-align: left;
            padding: 16px 0 18px 0;
            border-bottom: 1px solid #E0E0E0;
            &-text {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                color: #333333;
                max-width: 321px;
            }
            &-svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}


@media (max-width: 1400px) {
    .vir-table {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .vir-table {
        &__head {
            &-cell {
                padding: 15px;
                &--min {
                    width: auto;
                }
                &-title {
                    font-size: 16px;
                }
                &-text {
                    font-size: 18px;
                }
            }
        }
        &__body {
            &-cell {
                padding: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .vir-table {
        margin-top: 40px;
        &__head {
            &-cell {
                padding: 10px;
                &-title {
                    font-size: 14px;
                }
                &-text {
                    font-size: 16px;
                }
            }
        }
        &__body {
            &-cell {
                padding: 10px;
            }
        }
    }
}

@media (max-width: 500px) {
    .vir-table {
        margin-top: 20px;
        &__head {
            &-cell {
                padding: 5px;
                &-text {
                    font-size: 14px;
                }
            }
        }
        &__body {
            &-cell {
                padding: 5px;
                &-text {
                    font-size: 14px;
                }
            }
        }
    }
}