.vir-subdomain {
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrap {
        width: 1920px;
        max-width: 100%;
        padding: 100px 85px 117px 85px;
    }

    &__title {
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
    }
    &__row {
        display: flex;
        // margin-top: 58px;
        justify-content: space-between;
    }
    &__selection {
        width: 547px;
        // padding-top: 75px;
        &-block {
            margin-top: 90px;
            display: flex;
            padding-bottom: 12px;
            border-bottom: 2px solid #BDBDBD;
            &--success {
                border-color: #00AA9B;
            }
            &--error {
                border-color: #EB5757;
                .vir-subdomain__selection-input {
                    color: #EB5757;
                }
            }
        }
        &-input {
            width: 100%;
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            padding-right: 10px;
            color: #333;
            &::placeholder {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: rgba(51,51,51,0.5);
            }
        }
        &-button {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #333333;
            padding: 10px 36px 10px 35px;
            background: #E8B815;
            outline: none;
            cursor: pointer;
            &:hover,
            &:focus {
                background: #D5A810;
            }
        }
        &-description {
            display: flex;
            align-items: center;
            margin-top: 12px;
            &-svg {
                width: 12px;
                height: 12px;
                cursor: pointer;
                position: relative;
                .vir-tools-item {
                    width: 290px;
                    top: 18px;
                    left: -16px;
                }
                &:hover {
                    .vir-tools-item {
                        display: block;
                    }
                }
            }
            &-text {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #333333;
                margin-left: 9px;
                &--warning {
                    color: #EB5757;
                }
            }
        }
    }
    &__line {
        height: auto;
        width: 1px;
        min-width: 1px;
        background-color: #e0e0e0;
        margin: 0 50px;
    }
    &__price {
        width: 725px;
        &-title {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #333333;
        }
        &-items {
            margin-top: 56px;
            width: 100%;
        }
        &-item {
            margin-top: 16px;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid #F2F2F2;
            &--head {
                margin-bottom: 24px;
                .vir-subdomain__price-item-text {
                    font-size: 16px;
                    line-height: 19px;
                    color: #828282;
                }
            }
            &-domen {
                width: 45%;
                display: flex;
                align-items: center;
            }
            &-price {
                width: 25%;
                display: flex;
                align-items: center;
            }
            &-status {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-text {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #E12725;
                padding-right: 10px;
                word-break: break-all;
            }
            &-button {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #333333;
                padding: 10px 46px;
                background: #E8B815;
                outline: none;
                cursor: pointer;
                max-width: 136px;
                &:hover,
                &:focus {
                    background: #D5A810;
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .vir-subdomain {
        &__title {
            font-size: 40px;
        }
        &__row {
            flex-direction: column;
            // align-items: center;
            margin-top: 0;
        }
        &__selection {
            width: 100%;
            max-width: 800px;
            padding-top: 0;
            &-block {
                margin-top: 100px;
            }
        }
        &__line {
            margin: 100px 0;
            width: 100%;
            max-width: 800px;
            height: 1px;
        }
        &__price {
            width: 100%;
            max-width: 800px;
        }
    }
}


@media (max-width: 768px) {
    .vir-subdomain {
        &__wrap {
            padding: 70px 50px;
        }
        &__title {
            font-size: 35px;
        }
        &__row {
        }
        &__selection {
            &-block {
            }
        }
        &__line {
        }
        &__price {
        }
    }
}

@media (max-width: 600px) {
    .vir-subdomain {
        &__wrap {
            padding: 40px 20px;
        }
        &__title {
            font-size: 32px;
        }
        &__row {
        }
        &__selection {
            &-block {
                margin-top: 60px;
            }
        }
        &__line {
            margin: 60px 0;
        }
        &__price {
            &-item {
                &-text {
                    font-size: 20px;
                }
            }
        }
    }
}


@media (max-width: 425px) {
    .vir-subdomain {
        &__wrap {
            padding: 30px 15px;
        }
        &__title {
            font-size: 30px;
        }
        &__row {
        }   
        &__selection {
            &-block {
                margin-top: 60px;
            }
            &-button {
                padding: 10px 20px;
            }
        }
        &__line {
            margin: 60px 0;
        }
        &__price {
            &-item {
                &-text {
                    font-size: 18px;
                }
                &-button {
                    padding: 10px 20px;
                }
            }
        }
    }
}