.vir-reviews {
    width: 100%;
    background-color: #fff;
    padding: 106px 85px 100px 85px;
    display: flex;
    justify-content: space-between;

    &__left {

    }
    &__right {
    }
    &__item {
        width: 1035px;
        &-text {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 140%;
            color: #000000;
        }
        &-footer {
            margin-top: 32px;
            display: flex;
            align-items: center;
            &-block {
                margin-left: 32px;
                &-name {
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 30px;
                    line-height: 36px;
                    color: #E22D24;
                }
                &-description {
                    margin-top: 12px;
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 140%;
                    color: #000000;
                }
            }
        }
    }

    &__title {
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
    }
}


@media (max-width: 1400px) {
    .vir-reviews {
        flex-direction: column;
        align-items: center;
        &__right {
            margin-top: 30px;
        }
        &__item {
            width: 100%;
            max-width: 945px;
        }
    }
}

@media (max-width: 1200px) {
    .vir-reviews {
        &__title {
            font-size: 40px;
            line-height: 1.3;
        }
    }
}

@media (max-width: 768px) {
    .vir-reviews {
        padding: 70px 50px;
        &__title {
            font-size: 35px;
            line-height: 1.3;
        }
        &__item {
            &-text {
                font-size: 22px;
            }
            &-footer {
                &-block {
                    &-name {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .vir-reviews {
        padding: 40px 20px;
        &__item {
            &-text {
                font-size: 20px;
            }
            &-footer {
                &-block {
                    &-name {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}