.vir-options {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;

    &__wrap {
        width: 1920px;
        max-width: 100%;
        padding: 127px 85px 100px 85px;
    }

    &__title {
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
    }
    &__for-tabs {
        width: 100%;
        overflow-x: auto;
    }
    &__tabs {
        margin-top: 72px;
        width: max-content;
        position: relative;
        display: flex;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            top: 100%;
            left: 0;
            background: #F2F2F2;
            margin-top: -3px;
        }
        &-item {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #333333;
            margin-right: 32px;
            cursor: pointer;
            user-select: none;
            padding-bottom: 10px;
            position: relative;
            z-index: 1;
        }
    }
    .vir-options__tabs-item.active {
        color: #00AA9B;
        border-bottom: 3px solid #00AA9B;
    }
    &__containers {

    }
    &__container {
        margin-top: 72px;
        &--2 {
            .vir-options__container-main-img {
                width: 365px;
                height: 209px;
            }
            .vir-options__container-main-right {
                margin-left: 70px;
            }
            .vir-options__container-stand-item-title {
                // margin-top: 0;
            }
            .vir-options__container-main-info {
                width: 685px;
            }
            .vir-options__container-stand-item-info-text {
                margin-top: 0;
            }
        }
        &--3 {
            .vir-options__container-main-img {
                width: 365px;
                height: 209px;
            }
            .vir-options__container-main-right {
                margin-left: 70px;
            }
            .vir-options__container-main-item {
                width: 300px;
            }
            .vir-options__container-main {
                margin-bottom: 0;
            }
            .vir-options__container-main-info {
                width: 685px;
            }
            .vir-options__container-stand {
                padding-top: 0;
                border: none;
            }
            .vir-options__container-stand-item-img {
                margin-top: 30px;
            }
        }
        &--4 {
            .vir-options__container-main-img {
                width: 365px;
                height: 209px;
            }
            .vir-options__container-main-right {
                margin-left: 70px;
            }
            .vir-options__container-main-info {
                width: 679px;
                margin-top: 64px;
            }
            .vir-options__container-main-text {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &--5 {
            .vir-options__container-main-img {
                width: 365px;
                height: 209px;
                background: #C4C4C4;
            }
            .vir-options__container-main-right {
                margin-left: 70px;
            }
            .vir-options__container-main-info {
                width: 679px;
                margin-top: 64px;
            }
            .vir-options__container-main-text {
                margin-bottom: 20px;
                &:first-child {
                    margin-bottom: 32px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .vir-options__container-stand-item-info-list {
                list-style-type: disc !important;
                margin-left: 20px;
            }
        }
        &-main {
            display: flex;
            margin-bottom: 100px;
            &-left {

            }
            &-right {
                margin-left: 155px;
                width: 100%;
                &-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
            &-img {
                width: 280px;
                height: 480px;
            }
            &-title {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 58px;
                color: #901E65;
                
            }
            &-info {
                margin-top: 12px;
            }
            &-text {
                margin-bottom: 6px;
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #333333;
                &--bold {
                    font-weight: 500;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-list {
                margin-top: 32px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            &-item {
                width: 290px;
                margin-right: 60px;
                margin-left: 25px;
                margin-top: 32px;
                &-title {
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0A3C4A;
                    position: relative;
                    &:before {
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        content: '';
                        min-width: 12px;
                        min-height: 12px;
                        background-color: #e9d2e0;
                        right: 100%;
                        border-radius: 50%;
                        margin-right: 10px;
                        top: 6px;
                        // top: 50%;
                        // transform: translateY(-50%);
                    }
                    &:after {
                        width: 4px;
                        height: 4px;
                        position: absolute;
                        content: '';
                        min-width: 4px;
                        min-height: 4px;
                        background-color: #901E65;
                        right: 100%;
                        border-radius: 50%;
                        margin-right: 14px;
                        top: 10px;
                        // top: 50%;
                        // transform: translateY(-50%);
                    }
                }
                &-text {
                    margin-top: 16px;
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #333333;
                }
                .vir-options__container-main-item-ul {
                    list-style: disc;
                    margin-top: 16px;
                }
                &-li {
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: #333333;
                    &::marker {
                        color: #901E65
                    }
                }
            }
            &-button {
                background: #00AA9B;
                cursor: pointer;
                padding: 16px 72px 16px 73px;
                box-shadow: 0px 5px 0px rgb(62, 119, 114);
                outline: none;
                margin: 10px 0;
    
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                &:hover,
                &:focus {
                    background: #3E7772;
                }
            }
            &-row {
                display: flex;
                margin-top: 64px;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            &-block {
                margin-right: 60px;
                margin-left: 17px;
                // &:last-child {
                //     margin-right: 0;
                // }
                &-list {
                    list-style: disc !important;
                    width: 465px;
                    margin-top: 25px;
                }
                &-item {
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #333333;
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::marker {
                        color: #901E65;
                    }
                }
            }
            &-premium {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                &-item {
                    margin-top: 46px;
                    width: 214px;
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #ebeff1;
                    margin-right: 40px;
                    margin-left: 0px;
                    // &:last-child  {
                    //     margin-right: 0;
                    // }
                    &-svg {
                        width: 87px;
                        height: 53px;
                    }
                    &-text {
                        margin-top: 20px;
                        font-family: 'PF Din Text Cond Pro';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: #0A3C4A;
                    }
                }
            }
            // &-new {
            //     &-ul {
            //         padding-left: 10px;
            //     }
            //     &-li {
            //         position: relative;
            //         padding-left: 10px;
            //         margin-top: 8px;
            //         font-family: 'PF Din Text Cond Pro';
            //         font-style: normal;
            //         font-weight: 400;
            //         font-size: 16px;
            //         line-height: 19px;
            //         color: #0A3C4A;
            //         &::before {
            //             content: '*';
            //             position: absolute;
            //             right: 100%;
            //             top: 0;
            //             color: #901e65;
            //         }
            //     }
            // }
        }
        &-stand {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 100px;
            margin-bottom: 100px;
            border-top: 1px solid #C4C4C4;
            &-item {
                width: 550px;
                margin-top: 30px;
                margin-right: 20px;
                &-img {

                }
                &-title {
                    font-family: 'PF Din Text Cond Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 36px;
                    color: #333333;
                    margin-top: 30px;
                }
                &-info {
                    margin-top: 32px;
                    &-title {
                        font-family: 'PF Din Text Cond Pro';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #0A3C4A;
                    }
                    &-text {
                        font-family: 'PF Din Text Cond Pro';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #333333;
                        margin-top: 16px;
                    }
                    .vir-options__container-stand-item-info-list {
                        list-style: disc;
                        margin-left: 16px;
                        margin-top: 24px;
                    }
                    &-item {
                        font-family: 'PF Din Text Cond Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 180%;
                        color: #333333;
                        &::marker {
                            color: #901E65;
                        }
                        &--bold {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        &-compare {
            padding-top: 100px;
            border-top: 1px solid #C4C4C4;
            &-title {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 36px;
                color: #333333;
            }
            &-text {
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                color: #333333;
                margin-top: 16px;
                width: 553px;
            }
            &-table {
            }
            &-button {
                margin-top: 72px;
            }
            &-link {
                background: #00AA9B;
                cursor: pointer;
                padding: 16px 105px;
                box-shadow: 0px 5px 0px rgb(62, 119, 114);
                outline: none;
    
                font-family: 'PF Din Text Cond Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                &:hover,
                &:focus {
                    background: #3E7772;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .vir-options {
        &__container {
            // margin-top: 72px;
            &-main {
                &-right {
                    &-head {
                        flex-direction: column;
                        align-items: center;
                    }
                }
                &-text {
                    text-align: center;
                }
                &-row {
                    margin-top: 39px;
                }
                &-button {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                &-list {
                    flex-direction: column;
                    align-items: center;
                }
            }
            &--4 {
                .vir-options__container-main-info {
                    width: 100%;
                    // margin-top: 64px;
                }
            }
            &--5 {
                .vir-options__container-main-info {
                    width: 100%;
                    // margin-top: 64px;
                }
            }
            &-stand {
                flex-direction: column;
                align-items: center;
                &-item {
                    &-title {
                        text-align: center;
                    }
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    .vir-options {
        &__title {
            font-size: 40px;
        }
        &__tabs {
            margin-top: 50px;
            &-item {
                font-size: 22px;
            }
        }
        &__container {
            &--1 {
                .vir-options__container-main-img {
                    width: 224px;
                    height: 384px;
                }
            }
            &--2 {
                .vir-options__container-main-right {
                    margin-left: 0;
                }
                .vir-options__container-main-info {
                    margin: 12px auto 0 auto;
                    width: auto;
                }
            } 
            &--3 {
                .vir-options__container-main-right {
                    margin-left: 0;
                }
                .vir-options__container-main-info {
                    margin: 12px auto 0 auto;
                    width: auto;
                }
            } 
            &--4 {
                .vir-options__container-main-right {
                    margin-left: 0;
                }
            } 
            &--5 {
                .vir-options__container-main-right {
                    margin-left: 0;
                }
            } 
            &-main {
                flex-direction: column;
                align-items: center;
                &-title {
                    font-size: 40px;
                }
                &-left {
                    margin-bottom: 30px;
                }
                &-right {
                    margin-left: 0;
                }
                &-button {
                    font-size: 18px;
                }
                &-row {
                    justify-content: center;
                }
                &-premium {
                    justify-content: center;
                }
            }
            &-stand {
                padding-top: 50px;
                &-item {
                    margin-right: 0;
                    &-title {
                        font-size: 25px;
                    }
                    &-info {
                        &-text {
                            font-size: 15px;
                        }
                    }
                }
            }
            &-compare {
                padding-top: 80px;
                &-button {
                    display: flex;
                    justify-content: center;
                }
                &-link {
                    font-size: 18px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .vir-options {
        &__wrap {
            padding: 70px 50px;
        }
        &__title {
            font-size: 35px;
        }
        &__tabs {
            &-item {
                font-size: 20px;
                margin-right: 25px;
            }
        }
        &__container {
            &--1 {
                .vir-options__container-main-img {
                    width: 179px;
                    height: 307px;
                }
            }
            &--4 {
                .vir-options__container-main-info {
                    margin-top: 40px;
                }
            }
            &--5 {
                .vir-options__container-main-info {
                    margin-top: 40px;
                }
            }
            &-main {
                &-title {
                    font-size: 35px;
                }
                &-button {
                    font-size: 18px;
                }
                &-item {
                    width: auto;
                    margin-left: 0;
                    margin-right: 0;
                    &-title {
                        font-size: 17px;
                    }
                }
                &-block {
                    margin-left: 0;
                    margin-right: 0;
                    &-list {
                        width: auto;
                    }
                }
                &-list {
                    flex-direction: column;
                    align-items: center;
                }
            }
            &-stand {
                &-item {
                    height: auto;
                    width: 100%;
                    &-img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &-compare {
                padding-top: 60px;
                &-title {
                    font-size: 25px;
                    text-align: center;
                }
                &-text {
                    width: auto;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .vir-options {
        &__wrap {
            padding: 40px 20px;
        }
        &__tabs {
            &-item {
                font-size: 16px;
                margin-right: 20px;
            }
        }
        &__container {
            &--2 {
                .vir-options__container-main-img {
                    width: 292px;
                    height: 167px;
                }
            }
            &--3 {
                .vir-options__container-main-img {
                    width: 292px;
                    height: 167px;
                }
                .vir-options__container-main-item-title {
                    margin-left: 19px;
                }
            }
            &--4 {
                .vir-options__container-main-img {
                    width: 292px;
                    height: 167px;
                }
            }
            &--5 {
                .vir-options__container-main-img {
                    width: 292px;
                    height: 167px;
                }
            }
            &-main {
                &-title {
                    font-size: 28px;
                    line-height: 1.3;
                    text-align: center;
                }
                &-list {
                    margin-left: 24px;
                }
                &-block {
                    &-list {
                        margin-left: 24px;
                    }
                }
                &-button {
                    padding: 12px 40px;
                    font-size: 16px;
                }
            }
            &-compare {
                &-button {
                    margin-top: 50px;
                }
                &-link {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .vir-options {
        &__container {
            &-main {
                margin-bottom: 50px;
            }
            &-stand {
                padding-top: 30px;
            }
            &-compare {
                &-title {
                    font-size: 20px;
                }
                &-text {
                    font-size: 14px;
                }
            }
        }
    }
}