.vir-excellence {
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    
    &__wrap {
        width: 1920px;
        max-width: 100%;
        padding: 127px 85px 100px;
    }
    
    &__title {
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
        text-align: center;
    }
    &__items {
        margin-top: 70px;
        display: flex;
        counter-reset: excellence;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        // width: 390px;
        width: 20%;
        min-width: 300px;
        margin: 40px 15px;
        // margin: 40px 1%;
        padding: 30px;
        background: #fff;
        position: relative;
        transform-style: preserve-3d;

        &::before {
            counter-increment: excellence;
            content: "0" counter(excellence);
            position: absolute;
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: bold;
            font-size: 96px;
            line-height: 115px;
            letter-spacing: -0.06em;
            color: #E12725;
            top: -81px;
            left: 0;
            transform: translateZ(-1px);
        }
        &-text {
            font-family: 'PF Din Text Cond Pro';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            color: #333333;
            &--bold {
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 1200px) {
    .vir-excellence {
        &__title {
            font-size: 40px;
            line-height: 1.3;
        }
    }
}


@media (max-width: 768px) {
    .vir-excellence {
        &__wrap {
            padding: 70px 50px;
        }
        &__title {
            font-size: 35px;
        }
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            padding: 24px;
            margin: 50px 0;
            &:before {
                left: 50%;
                transform: translateZ(-1px) translateX(-50%);
            }
        }
    }
}


@media (max-width: 600px) {
    .vir-excellence {
        &__wrap {
            padding: 40px 20px;
        }
    }
}
