@import './fonts';

@import './config';

@import './svg';

@import './UI/vir-tools-item';
@import './UI/vir-slider';
@import './UI/vir-checkbox';
@import './UI/vir-select';

@import './vir/vir-banner';
@import './vir/vir-subdomain';
@import './vir/vir-calculator';
@import './vir/vir-options';